fastapi==0.115.2
uvicorn==0.32.0
pydantic==2.9.2
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
openai==1.52.0
pyjwt==2.9.0
flake8==7.1.1
pytest==8.3.3
dotenv==0.0.5
typer==0.12.5
structlog==24.4.0
py-spy==0.3.14
black==24.10.0
pytest-cov==5.0.0
pytest-mock==3.14.0
requests==2.32.3
prometheus_client==0.21.0
redis==5.1.1
celery==5.4.0
hiredis==3.0.0
python-multipart==0.0.12
gunicorn==23.0.0
ujson==5.10.0
orjson==3.10.7
aiohttp==3.10.10